# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Test coverage reports
htmlcov/

# Virtual environment
venv/
env/

# Wheel
build/
dist/

# Compiled Python extensions
*.so
*.pyd
*.dll

# egg-info
*.egg-info/

# Compiled C extensions
*.c
*.h
*.o

# Miscellaneous
.DS_Store
Thumbs.db
